body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #F2F2F2;
}

ul,li {
  padding: 0;
  margin: 0;
  list-style: none;
}

section {
  padding: 0 15px;
}

@media (min-width: 575.98px){
  section {
    padding: 0 calc(50% - 270px);
  }
}

@media (min-width: 767.98px){
  section {
    padding: 0 calc(50% - 360px);
  }
}

@media (min-width: 991.98px) {
  section {
    padding: 0 calc(50% - 480px);
  }
}

@media (min-width: 1199.98px){
  section {
    padding: 0 calc(50% - 590px);
  }
}
